<!--post.html-->
<!--
    必要なもの
    ・日付の入力フォーム​
    ・住所の入力フォーム​
    ・イベント名の入力フォーム​
    ・イベントの説明の入力フォーム 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント投稿</title>
</head>
<body>
    <h1>イベント投稿</h1>
    <div>
        <form method="post">
            <p><label for="date">日付:</label>
                <input><!--CSS 文字列入力欄-->
            </p>
            <p><label for="address">開催地:</label>
                <input><!--CSS 文字列入力欄-->
            </p>
            <p><label for="name">催事名:</label>
                <input><!--CSS 文字列入力欄-->
            </p>
            <p><label for="description">説明:</label>
                <textarea name="description" required></textarea>
            </p>
            <input type="submit" value="完了">
        </form>
        <a href="{{ url_for('main') }}">戻る</a>
    </div>
</body>
</html>